---
layout: default
---
<style>
li.post-list{
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
}


li.post-list a {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.post-list time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}
</style>

<div class="post-container">
     <ul>
	{% for post in paginator.posts %}
        <li class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%Y-%m-%d" }}</time>
        </li>
        {% endfor %}
    </ul>
</div>
{% include pagination.html %}
